<div class="mt-5 duvidas">
    <div class="tit-duvidas">
        <h1>
            <img src="~/images/duvidasContato.gif" style="width:50px;" />Dúvidas frequentes
        </h1>
    </div>
    <hr class="m-auto" style="background-color:rgb(255, 106, 0); opacity:.4;width:95%" />
    <p class="mb-5">
        Aqui você encontra as dúvidas mais comuns e presentes sobre os serviços rodoviários.<br />
        Não achou o que precisava? Não se preocupe. <a href="Contato">Clique aqui</a> e entre em contato conosco.
    </p>
    <div class="accordion m-auto" style="width:90%" id="accordionDuvidas">
        <div class="pb-2">
            <div class="box-titulos-duvidas" id="headingDuvidaUm" data-toggle="collapse" data-target="#DuvidaUm" aria-expanded="true" aria-controls="DuvidaUm">
                <h3 class="mb-0">
                    Passe Professor/Estudante
                </h3>
            </div>
            <div id="DuvidaUm" class="collapse show" aria-labelledby="headingDuvidaUm" data-parent="#accordionDuvidas">
                <div class="box-texto-duvidas">
                    Estudante e professor têm direito a desconto de 50% no valor da tarifa nas linhas estaduais conforme legislação vigente na portaria 12 da ARTESP.<br />
                    <br />
                    Para solicitar:<br />
                    <ol>
                        <li>obrigatório o preenchimento do formulário de requisição de carteirinha disponível na própria rodoviária;</li>
                        <li>anexar xerox dos seguintes documentos – CPF, RG, 1 foto 3x4 atual, comprovante de residência e declaração da faculdade;</li>
                        <li>válido para estudante / professor de cursos de graduação, pós-graduação, técnico, ensino médio e fundamental reconhecido pelo MEC;</li>
                        <li>cópia reprográfica autenticada da carteira de estudante fornecida pelo estabelecimento de ensino ou diploma (no caso de professor).</li>
                    </ol>
                    Observações:
                    <ul>
                        <li>a carteirinha possui validade de 1 ano, tendo que ser renovada no início do cada ano letivo;</li>
                        <li>estudantes de cursos de pós-graduação têm direito apresentando a mesma documentação citada acima.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pb-2">
            <div class="box-titulos-duvidas" id="headingDuvidaDois" data-toggle="collapse" data-target="#DuvidaDois" aria-expanded="true" aria-controls="DuvidaDois">
                <h3 class="mb-0">
                    Embarque de menor
                </h3>
            </div>
            <div id="DuvidaDois" class="collapse" aria-labelledby="headingDuvidaDois" data-parent="#accordionDuvidas">
                <div class="box-texto-duvidas">
                    <ol>
                        <li>
                            Menores de seis anos possuem gratuidade, desde que sejam transportadas no colo. Porém, precisam emitir bilhete de gratuidade para viagens fora do estado;
                        </li>
                        <li>
                            Todos os adultos e crianças precisam estar acompanhados de documento próprio oficial* para embarcarem;
                        </li>
                        <li>
                            Menores de 12 anos (incompletos) só poderão viajar acompanhados por:
                            <ol type="a">
                                <li>
                                    Parentes (pais, avós, tios e/ou irmãos maiores de 18 anos), apresentando os documentos oficiais* do adulto e da criança, comprovando o grau de parentesco;
                                </li>
                                <li>
                                    Terceiros, apresentando documentos oficiais* do adulto e da criança e autorização judicial dos pais para viajar com a criança.
                                </li>
                            </ol>

                        </li>
                    </ol>
                    * Os documentos considerados oficiais são:
                    <ol type="a">
                        <li>
                            Passaporte Brasileiro;
                        </li>
                        <li>
                            Carteira Nacional de Habilitação (Documento Físico ou Digital);
                        </li>
                        <li>
                            Carteira de Trabalho;
                        </li>
                        <li>
                            Carteira de Identidade Profissional, emitida por Conselho ou Federação, com foto, e fé pública em todo o território nacional;
                        </li>
                        <li>
                            Cartão de Identidade, com foto, expedido por Ministério ou Órgão subordinado à Presidência da República, incluindo o Ministério da Defesa e os Comandos da Aeronáutica, Marinha e do Exército;
                        </li>
                        <li>
                            Registro de Identificação Civil – RIC;
                        </li>
                        <li>
                            Certidão de Nascimento (Somente para menores de 12 anos).
                        </li>
                    </ol>

                    As cópias autenticadas dos documentos serão aceitas no embarque, independentemente da data de validade bem como, de possível identificação do passageiro (documento legível). Em casos de extravio, furto ou roubo de documento de identificação de passageiro, é permitido apresentar Boletim de Ocorrência, desde que emitido há menos de 30 (trinta) dias.
                </div>
            </div>
        </div>

        <div class="pb-2">
            <div class="box-titulos-duvidas" id="headingDuvidaTres" data-toggle="collapse" data-target="#DuvidaTres" aria-expanded="true" aria-controls="DuvidaTres">
                <h3 class="mb-0">
                    Objeto esquecido
                </h3>
            </div>
            <div id="DuvidaTres" class="collapse" aria-labelledby="headingDuvidaTres" data-parent="#accordionDuvidas">
                <div class="box-texto-duvidas">
                    <p>
                        Se você esqueceu algum objeto ou documento no interior de um dos nossos ônibus, entre em contato com a
                        nossa central de atendimento, para que possamos ajudá-lo a encontrar. Caso seja localizado, entraremos em
                        contato com você através do seu e-mail.<br />
                    </p>
                    <p>
                        Lembrando que, de acordo com o artigo 8º, inciso 6º da resolução nº 1432, de abril de 2006 da ANTT, a empresa
                        não se responsabiliza por objetos deixados no interior do veículo, uma vez que estes volumes, transportados
                        na parte superior do veículo, são de responsabilidade do passageiro.
                    </p>
                </div>
            </div>
        </div>

        <div class="pb-2">
            <div class="box-titulos-duvidas" id="headingDuvidaQuatro" data-toggle="collapse" data-target="#DuvidaQuatro" aria-expanded="true" aria-controls="DuvidaQuatro">
                <h3 class="mb-0">
                    Cancelamento
                </h3>
            </div>
            <div id="DuvidaQuatro" class="collapse" aria-labelledby="headingDuvidaQuatro" data-parent="#accordionDuvidas">
                <div class="box-texto-duvidas">
                    <p>
                        <ol class="pl-0">
                            <li>
                                Até 03 (três) horas antes do horário previsto da partida do ônibus, o cliente poderá solicitar o
                                cancelamento da passagem com o reembolso do valor. Haverá a retenção de 5% do valor da tarifa, a
                                título de multa compensatória (§ 5º¹, do art. 13, da Resolução ANTT nº. 4.282, de 17 de fevereiro de 2014);
                            </li>
                            <li>
                                O não comparecimento do passageiro para embarque ou a não declaração da vontade de desistir antes da
                                configuração do embarque² acarretam a perda do direito ao reembolso, mantendo a validade do bilhete para
                                fins de remarcação e/ou transferência por até 01 (um) ano, a partir da data de sua primeira emissão.
                            </li>
                        </ol>
                        <span>
                            ¹ § 5º Faculta-se às transportadoras, exclusivamente no caso de reembolso, reter até 5% (cinco por cento) sobre o valor da tarifa, a título de comissão de venda e multa compensatória, conforme o caso, e com entrega de recibo ao usuário.
                            <br />
                            ² Considera-se configurado o embarque 3 (três) horas antes do horário do início da viagem constante do bilhete de passagem.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="pb-2">
            <div class="box-titulos-duvidas" id="headingDuvidaCinco" data-toggle="collapse" data-target="#DuvidaCinco" aria-expanded="true" aria-controls="DuvidaCinco">
                <h3 class="mb-0">
                    Transporte de bagagem
                </h3>
            </div>
            <div id="DuvidaCinco" class="collapse" aria-labelledby="headingDuvidaCinco" data-parent="#accordionDuvidas">
                <div class="box-texto-duvidas">
                    <h4>Limite no bagageiro</h4>
                    <p>
                        No bagageiro você pode transportar bagagens de até 30 kg de peso, 350 decímetros cúbicos (1,30 metros) de
                        volume ou um metro de dimensão máxima. É seu direito receber os comprovantes desses volumes. Volumes pequenos
                        e de fácil acomodação podem ser levados no porta-embrulho.
                    </p>
                    <h4>Transporte de bicicleta</h4>
                    <p>
                        O peso máximo para transporte no bagageiro é de 30 kg, o suficiente para uma bicicleta mais bagagem média. Já a dimensão máxima é de 1,30 metros e o cumprimento de uma bicicleta com rodas é de aproximadamente 1,80 metros.
                        <br />
                        Porém, sem as rodas, a bicicleta medirá 1,20 metros. Ou seja, o suficiente para ela seguir no bagageiro. Exemplo de cálculo:
                        <ul>
                            <li>
                                Largura: 37 cm (guidão virado, sem remover pedais)
                            </li>
                            <li>
                                Altura: 82 cm (rodas removidas, ao lado da bike / ou selim removido)
                            </li>
                            <li>
                                Cumprimento: 115 cm (rodas ao lado da bike)
                            </li>
                            <li>
                                (37 x 82 x 115) / 1000 = 350 decímetros
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="pb-2">
            <div class="box-titulos-duvidas" id="headingDuvidaSeis" data-toggle="collapse" data-target="#DuvidaSeis" aria-expanded="true" aria-controls="DuvidaSeis">
                <h3 class="mb-0">
                    Transporte de animais
                </h3>
            </div>
            <div id="DuvidaSeis" class="collapse" aria-labelledby="headingDuvidaSeis" data-parent="#accordionDuvidas">
                <div class="box-texto-duvidas">
                    <p>
                        O transporte de animais de pequeno de porte até oito (08) kg, será gratuito nas viagens interestaduais,
                        já nas viagens intermunicipais no estado de São Paulo, o transporte será feito mediante o pagamento de
                        uma passagem integral para o animal, que podem ser: doméstico e silvestre. Para que seja permitido o
                        embarque, o responsável pelo animal terá de atender as seguintes condições:
                    </p>
                    <h4>Embarque e transporte de animais domésticos</h4>
                    <p>
                        Animais domésticos são considerados cães e gatos pelos órgãos reguladores, que deverão estar acompanhados
                        do Atestado Sanitário para o Trânsito de Cães e Gatos, emitido em até três (03) dias antes da viagem,
                        carteira de vacina e estar acondicionado em uma caixa ou bolsa própria de acrílico à prova de vazamentos.
                    </p>
                    <h4>Embarque e transporte de animais silvestres</h4>
                    <p>
                        Animal silvestre não é o doméstico. O doméstico já está acostumado a viver perto das pessoas, como os gatos, 
                        cachorros, entre outros. Já o animal silvestre foi tirado da natureza e reage à presença do ser humano. 
                        Por essa razão, tem dificuldades para crescer e se reproduzir em cativeiro. O papagaio, a arara, o mico e o 
                        jabuti, ao contrário do que muitos pensam, são animais silvestres.
                    </p>
                    <p>
                        Além da Guia de Trânsito do Animal – GTA, atestado de saúde e a carteira de vacina em dia devem estar acompanhado
                        da autorização de transporte emitida pelo IBAMA, acondicionado em uma caixa ou bolsa própria.
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
