
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<dt>
    @Html.ActionLink("SOU GERENTE", "GerenteLogin")
</dt>

<dt>
    @Html.ActionLink("SOU PASSAGEIRO", "PassageiroLogin")
</dt>

<dt>
    @Html.ActionLink("SOU MOTORISTA", "MotoristaLogin")
</dt>


