
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="jumbotron" style="background-image: url(https://mercatinidinatale.tenutalafortezza.com/wp-content/uploads/2018/11/viaggio-pullman.jpg); background-size: 100%;>
    <h1 class="display-4"></h1>


    <h2>Identifique-se</h2>

    <dt>
        @Html.ActionLink("SOU GERENTE", "GerenteLogin")
    </dt>

    <dt>
        @Html.ActionLink("SOU PASSAGEIRO", "PassageiroLogin")
    </dt>

    <dt>
        @Html.ActionLink("SOU MOTORISTA", "MotoristaLogin")
    </dt>
</div>


