
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="jumbotron"> 


    <h2>Quem é você ?</h2>

    <p>
        
        @Html.ActionLink("SOU GERENTE", "GerenteLogin", new { @class = "btn btn-primary btn-lg btn-block" })
        </p>


    <p>
        @Html.ActionLink("SOU PASSAGEIRO", "PassageiroLogin", new { @class = "btn btn-primary btn-lg btn-block" })
    </p>

    <p>
        @Html.ActionLink("SOU MOTORISTA", "MotoristaLogin", new { @class = "btn btn-primary btn-lg btn-block" })
    </p>
</div>


